<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:replace="commonHeader :: meta_header('leaving')">
  </head>
  <body>
    <form th:action="@{/logout}" method="post" id="formLeaving">
      <div th:replace="commonHeader :: header"></div>
      <h1 class="form-label" th:text="|${today} 退勤時間を設定|"></h1>
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" name = "ddlLeavingHour" id="ddlLeavingHour" data-bs-toggle="dropdown" aria-expanded="false">18</button>
                  <ul class="dropdown-menu" aria-labelledby="ddlLeavingHour">
                  <th:block th:each="hour : ${lstHours}"
                    <li><a class="dropdown-item" th:value="${hour}" th:text="${hour}"></a></li>
                  </th:block>
                </ul>
              </div>
            </div>
            <div class="col-1">
              <label class="form-label">：</label>
            </div>
          <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" name = "ddlLeavingTime" id="ddlLeavingTime" data-bs-toggle="dropdown" aria-expanded="false">00</button>
                  <ul class="dropdown-menu" aria-labelledby="ddlLeavingTime">
                  <th:block th:each="minute : ${lstMinutes}"
                    <li><a class="dropdown-item" th:value="${minute}" th:text="${minute}"></a></li>
                  </th:block>
                </ul>
              </div>
            </div>
        </div>
      </div>
        <input type="button" id="registLeaving" value="退勤時間登録"/>
        <input type="submit" value="Sign Out"/>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/leaving.js}"></script>
    <script type="text/javascript" th:src="@{/js/commonHeader.js}"></script>
  </body>
</html>